<!--TO DO: ADD MAX LENGHT-->

<form [formGroup]="prenotazioneForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Inserisci Prenotazione Form</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Medico" formControlName="medico">
                @for (medico of listaMedici; track medico) {
                  <mat-option [value]="medico">{{medico.nome}} - {{medico.prezzoVisita}}€</mat-option>
                }
              </mat-select>
              @if (prenotazioneForm.controls['medico'].hasError('required')) {
                <mat-error>medico is <strong>required</strong></mat-error>
              }
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field>
                <mat-label>Giorno</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="giorno">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                @if (prenotazioneForm.controls['giorno'].hasError('required')) {
                  <mat-error>giorno is <strong>required</strong></mat-error>
                }
              </mat-form-field>  
          </div>

          <mat-form-field class="full-width">
            <mat-select placeholder="Fascia Oraria" formControlName="fasciaOraria">
              @for (fasciaOraria of listaFasceOrarieDisponibili; track fasciaOraria) {
                <mat-option [value]="fasciaOraria">{{fasciaOraria}}</mat-option>
              }
            </mat-select>
            @if (prenotazioneForm.controls['fasciaOraria'].hasError('required')) {
              <mat-error>Fascia Oraria is <strong>required</strong></mat-error>
            }
          </mat-form-field>

        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="prenotazioneForm.invalid">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>

  <div>
    <button mat-raised-button color="primary" (click)="getFasceOrarieOccupate()">Calcola Fasce Orarie Disponibili</button>
  </div>