<table mat-table [dataSource]="listaPrenotazioni" class="mat-elevation-z8">

    <!-- HTML pagina tabella noleggi -->
  
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> <a mat-list-item [routerLink]="['/updateprenotazione', element.id]">{{element.id}} </a></td>
    </ng-container>
  
    <!-- cod_conferma Column -->
    <ng-container matColumnDef="codConferma">
      <th mat-header-cell *matHeaderCellDef> Codice Conferma </th>
      <td mat-cell *matCellDef="let element"> {{element.codConferma}} </td>
    </ng-container>
  
    <!-- fascia_oraria Column -->
    <ng-container matColumnDef="fasciaOraria">
      <th mat-header-cell *matHeaderCellDef> Fascia Oraria </th>
      <td mat-cell *matCellDef="let element"> {{element.fasciaOraria}} </td>
    </ng-container>

    <!-- giorno Column -->
    <ng-container matColumnDef="giorno">
      <th mat-header-cell *matHeaderCellDef> Giorno </th>
      <td mat-cell *matCellDef="let element"> {{element.giorno}} </td>
    </ng-container>

    <!-- medico Column -->
    <ng-container matColumnDef="medico">
      <th mat-header-cell *matHeaderCellDef> Medico </th>
      <td mat-cell *matCellDef="let element"> {{element.medico.nome}} </td>
    </ng-container>

    <!-- delete Button Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Annulla Prenotazione </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="deletePrenotazione(element.id)">ANNULLA</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  